<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>

Current Millisecond is {{record | async}}

<div class="header">
  Server Sent Events Demo
</div>
<div id="browserSupport" class="browserSupport">
</div>
<div id="app" class="container">
  <div id="coinToss" class="box coinToss">
      Coin Toss Events
  </div>
  <div id="dieRoll" class="box dieRoll">
      Die Roll Events
  </div>
  <div id="catFact" class="box catFacts">
      Cat Fact Events
  </div>
  <div id="meme" class="box memes">
      Meme Image Events
  </div>
  <div id="eventLog" class="rectangle eventLog">
      <!-- Event Log will go here -->
  </div>
</div>
